%div{align: 'center'}
  %h1 
    About YomiYomi Feeder : 
  %p 製作者 : Kazuyoshi. Yamada
  %p シンプルなFeed Readerです
  %p FrameWork : Sinatra(on ruby) 
  %p マークアップ、デザイン : Bootstrap, Haml 
  %p DB関連 : sqlite3, Active Record 
  %a{href: '/'}TOPへ戻る

